.info-container {
    width: 100%;
    height: 300px;
    background-color: white;
    color: black;
    margin-bottom: 100vh;
}

.info {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.info > p {
    text-align: left;
}

@media only screen and (max-width: 960px){
.info {
    padding: auto;
    font-size: 12px
}
}